################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
/Calculator/bin
/Calculator/obj
*.suo
